@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model dynamic
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>频道管理</h5>
                    <div class="ibox-tools">
                        <a class="btn btn-primary btn-xs p210" id="insert" action="add"><i class="fa fa-plus-circle fa-fw"></i> 创建新频道</a>
                        <a class="btn btn-warning btn-xs p210" id="modify" action="edit"><i class="fa fa-pencil fa-fw"></i> 编辑</a>
                        <a class="btn btn-danger btn-xs p210" id="delete" action="remove"><i class="fa fa-trash-o fa-fw"></i> 删除</a>
                        <a class="reload-link" style="color: #c4c4c4" href="javascript:dig.reload()" data-toggle="tooltip" data-placement="left" title="刷新">
                            <i class="fa fa-repeat fa-lg"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm("Index", null, new AjaxOptions() { }, new { @id = "form1", @class = "form-horizontal", @method = "get" }))
                    {
                        <div class="row">
                            <div class="col-sm-9">
                                <label>类型：</label>
                                <select name="type" class="form-control input-sm  input-s-sm inline" onchange="submit()">
                                    <option value="">全部</option>
                                    <option value="0" @(ViewData["Type"] != null && ViewData["Type"].ToString()=="0"?"selected=\"selected\"":"")>直播</option>
                                    <option value="1" @(ViewData["Type"] != null && ViewData["Type"].ToString() == "1" ? "selected=\"selected\"" : "")>点播</option>
                                </select>

                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    @Html.TextBox("Search", null, new { @class = "input-sm form-control", @placeholder = "请输入查询关键词" })
                                    <span class="input-group-btn">
                                        <button type="submit" onclick="submit()" class="btn btn-sm btn-primary"> 搜索</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <table id="dataTable" class="table table-striped table-bordered table-hover dataTables-example" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th class="tn" style="width: 50px !important"><input name="checkall" class="icheck_box" type="checkbox" value=""></th>
                                    <th>分类名称</th>
                                    <th>是否显示</th>
                                    <th>显示顺序</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="tn"><input name="checkbox_name" class="icheck_box" type="checkbox" value="@item.ID"></td>
                                        <td style="text-align:left">
                                            <a href="javascript:EditChannel('@item.ID')" listaction="detail" data-toggle="tooltip" data-placement="right" title="修改">@Html.Raw(item.ChannelType+item.Tilte)</a>
                                        </td>
                                        <td>@item.IsDisplay</td>
                                        <td>@item.DisplayOrder</td>
                                        <td style="text-align:center;">
                                            <a href="javascript:AddChild('@item.ID','@item.TypeId')" listaction="addchild" class="text-navy" title="添加子频道">[添加子频道]</a>
                                        </td>
                                    </tr>
                                }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#insert").click(function () {
                dig.addPage("添加新频道", "/sys/channel/detail", 1000, 450, function () {
                    if (this.returnValue == 'yes') {
                        location.reload();
                    }
                });
            });
            //列表选择修改
            $('#modify').click(function () {
                var vals = '';
                var num = 0;
                $('input[name="checkbox_name"]:checked').each(function () {
                    vals = $(this).val();
                    num++;
                });
                if (!vals) {
                    dig.error("对不起，请选中您要操作的记录！");
                    return;
                }
                if (num > 1) {
                    dig.error("对不起，每次只能修改一条记录！");
                    return;
                }
                dig.addPage("编辑频道", "/Sys/channel/detail/" + vals, 700, 450, function () {
                    if (this.returnValue == 'yes') {
                        location.reload();
                    }
                });
            });
        });
        //添加子模块
        function AddChild(n, e) {
            dig.addPage("添加子频道", "/sys/channel/detail?parentId=" + n + "&typeId=" + e, 1000, 450, function () {
                if (this.returnValue == 'yes') {
                    location.reload();
                }
            });
        }
        //跳转修改
        function EditChannel(n) {
            dig.addPage("编辑频道", "/sys/channel/detail/" + n, 1000, 450, function () {
                if (this.returnValue == 'yes') {
                    location.reload();
                }
            });
        }
    </script>
}

